html {
  font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Helvetica Neue', sans-serif;
  color: #373737; }

header {
  position: relative;
  background: url(../img/background_img.jpg) no-repeat center fixed;
  border-bottom: 1px solid #000000;
  background-size: cover;
  width: 100%;
  height: 100vh; }
  header img {
    margin: 2rem 0; }
  header .links {
    text-align: right;
    margin: 2rem 0; }
    header .links li {
      color: #000000;
      display: inline;
      list-style: none;
      cursor: pointer;
      margin: 0 1rem; }
    header .links a {
      color: inherit;
      font-size: 1.8rem; }
      header .links a:hover {
        text-decoration: none; }

.theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 200px 0; }
  .theme h1 {
    position: relative;
    display: inline-block;
    font-size: 6.2rem;
    margin: 1rem 0; }
  .theme:after {
    content: "";
    position: absolute;
    width: 15%;
    height: 1px;
    bottom: 60%;
    border-bottom: 2px solid #b90a15; }
  .theme p {
    font-size: 2.4rem;
    font-weight: 400;
    color: #373737;
    margin-top: 50px; }
  .theme button {
    -webkit-border-radius: 39;
    -moz-border-radius: 39;
    border-radius: 39px;
    font-family: "Open Sans";
    color: #b90a15;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    border: solid #b90a15 2px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 50px; }
    .theme button:hover {
      color: white;
      background-color: #b90a15; }

#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px 0; }
  #about .idea-bulp-icon {
    fill: linear-gradient(red, yellow, blue) !important; }
  #about img {
    width: 10rem;
    height: auto;
    margin: 3rem; }
  #about h2 {
    font-size: 4.2rem;
    font-weight: 700;
    overflow: hidden;
    text-align: center;
    margin-bottom: 50px; }
  #about h2:before,
  #about h2:after {
    background-color: #b90a15;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 5%; }
  #about h2:before {
    right: 2rem;
    margin-left: -50%; }
  #about h2:after {
    left: 2rem;
    margin-right: -50%; }
  #about p {
    font-size: 1.8rem; }
  #about .column {
    padding: 5rem; }
  #about h3 {
    font-size: 2.6rem;
    margin-bottom: 10px; }

#services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px 0; }
  #services .services-text {
    margin-bottom: 50px; }
    #services .services-text h2 {
      font-size: 4.2rem;
      font-weight: 700;
      overflow: hidden;
      text-align: center;
      margin-bottom: 50px; }
    #services .services-text h2:before,
    #services .services-text h2:after {
      background-color: #b90a15;
      content: "";
      display: inline-block;
      height: 2px;
      position: relative;
      vertical-align: middle;
      width: 5%; }
    #services .services-text h2:before {
      right: 2rem;
      margin-left: -50%; }
    #services .services-text h2:after {
      left: 2rem;
      margin-right: -50%; }
    #services .services-text p {
      font-size: 1.6rem; }
  #services .thumb {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 150px;
    border: 2px solid white; }
    #services .thumb h3 {
      font-size: 2.8rem;
      color: #373737; }
    #services .thumb p {
      font-size: 1.8rem;
      color: #373737; }
  #services .services-big {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 300px; }
    #services .services-big:first-child {
      background: linear-gradient(90deg, #d7d7d7, white); }
    #services .services-big:last-child {
      background: linear-gradient(90deg, white, #d7d7d7); }
    #services .services-big .service-icon {
      width: 20rem;
      height: auto;
      margin: 3rem; }
    #services .services-big h2 {
      font-size: 4.8rem; }
      #services .services-big h2:first-child {
        margin-right: 20rem; }
      #services .services-big h2:last-child {
        margin-left: 20rem; }

#next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px 0; }
  #next .services-text h2 {
    font-size: 4.2rem;
    font-weight: 700;
    overflow: hidden;
    text-align: center;
    margin-bottom: 50px; }
  #next .services-text h2:before,
  #next .services-text h2:after {
    background-color: #b90a15;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 5%; }
  #next .services-text h2:before {
    right: 2rem;
    margin-left: -50%; }
  #next .services-text h2:after {
    left: 2rem;
    margin-right: -50%; }
  #next img {
    width: 15rem;
    height: auto;
    margin: 3rem; }
  #next .bg-color {
    background-color: rgba(185, 10, 21, 0.8); }
  #next .diagram-img {
    width: 25rem;
    height: auto;
    padding: 3rem; }
  #next h2 {
    font-size: 2.6rem; }
  #next p {
    font-size: 1.6rem; }

#works .ex-work-1 {
  position: relative;
  height: 600px;
  background: url(../img/ex-work-1.jpg) no-repeat center;
  background-size: cover; }
  #works .ex-work-1 .layer {
    background-color: rgba(185, 10, 21, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#works .ex-work-2 {
  position: relative;
  height: 600px;
  background: url(../img/ex-work-2.jpg) no-repeat center;
  background-size: cover; }
  #works .ex-work-2 .layer {
    background-color: rgba(185, 10, 21, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#works .gap {
  padding: 0; }
