$darkgray: #373737
$red: #b90a15
$lightred: #ee505c
$lightgray: #b3b3b3

html
  font-size: 62.5%

h1,h2,h3,h4,h5,h6,p,a
  font-family: 'Helvetica Neue', sans-serif
  color: $darkgray

header
  position: relative
  background: url(../img/bg.jpg) no-repeat top fixed
  border-bottom: 1px solid #000000
  background-size: cover
  width: 100%
  height: 100vh
  img
   margin: 2rem 0

  .links
    text-align: right
    margin: 2rem 0
    li
      color: #000000
      display: inline
      list-style: none
      cursor: pointer
      margin: 0 1rem
    a
     color: inherit
     font-size: 1.8rem
     &:hover
      text-decoration: none

.theme
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  margin: 150px 0
  h1
    position: relative
    display: inline-block
    font-size: 6.2rem
    margin: 1rem 0
  &:after
    content: ""
    position: absolute
    width: 10%
    top: 1px
    bottom: 52%
    border-bottom: 3px solid $red
  p
    font-size: 2.4rem
    font-weight: 400
    color: $darkgray
    margin-top: 40px

#about
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  text-align: center
  margin: 100px 0

  .idea-bulp-icon
    fill: linear-gradient(red, yellow, blue) !important

  img
    width: 10rem
    height: auto
    margin: 3rem

  h2
    font-size: 4.2rem
    font-weight: 700
    overflow: hidden
    text-align: center
    margin-bottom: 50px

  h2:before,
  h2:after
    background-color: #b90a15
    content: ""
    display: inline-block
    height: 2px
    position: relative
    vertical-align: middle
    width: 5%

  h2:before
    right: 2rem
    margin-left: -50%

  h2:after
    left: 2rem
    margin-right: -50%
  p
    font-size: 1.8rem

  .column
    padding: 5rem

  h3
    font-size: 2.6rem
    margin-bottom: 10px

#services
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  text-align: center
  margin: 100px 0

  .services-text
    margin-bottom: 50px
    h2
      font-size: 4.2rem
      font-weight: 700
      overflow: hidden
      text-align: center
      margin-bottom: 50px

    h2:before,
    h2:after
      background-color: #b90a15
      content: ""
      display: inline-block
      height: 2px
      position: relative
      vertical-align: middle
      width: 5%

    h2:before
      right: 2rem
      margin-left: -50%

    h2:after
      left: 2rem
      margin-right: -50%

    p
      font-size: 1.6rem

  .thumb
    display: flex
    flex-direction: column
    align-content: center
    align-items: center
    justify-content: center
    height: 150px
    border: 2px solid white

    h3
      font-size: 2.8rem
      color: $darkgray
    p
      font-size: 1.8rem
      color: $darkgray

  .social-media-big
    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    align-items: center
    height: 300px
    img
      width: 100%

  .position-big
    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    align-items: center
    height: 300px
    img
      width: 100%

    .service-icon
      width: 15rem

    h2
      font-size: 3.8rem

#contact
  background: $darkgray
  height: 700px
  position: relative
  text-align: center

  .contact-layer
    position: absolute
    height: 100%
    width: 100%
    background-color: rgba(32, 32, 32, .6)

  h2
    color: white
    font-size: 4.2rem
    font-weight: 700
    overflow: hidden
    text-align: center
    margin: 50px 0

  h2:before,
  h2:after
    background-color: #b90a15
    content: ""
    display: inline-block
    height: 2px
    position: relative
    vertical-align: middle
    width: 4%

  h2:before
    right: 2rem
    margin-left: -50%

  h2:after
    left: 2rem
    margin-right: -50%

  p
    font-size: 1.6rem
    color: $lightgray

  h3
    font-size: 2.8rem
    color: white

  input,
  textarea
    font-family: 'Helvetica Neue', sans-serif
    background-color: transparent
    border: none
    border-bottom: 2px solid $lightgray
    display: block
    padding: 0
    width: 100%
    margin: 40px 0
    font-size: 2rem
    color: white
    &:focus
      outline: none
    &::-webkit-input-placeholder
      opacity: .4
    &::-moz-placeholder
      opacity: .4
    &::-ms-input-placeholder
      opacity: .4
    &::-moz-placeholder
      opacity: .4

  textarea
    max-height: 150px
    resize: none

  input[type=submit]
    border: 1px solid $red
    background-color: $red
    cursor: pointer
    margin: 0 auto
    width: 25%
    height: 5rem
    margin-top: 50px
